<html>
    <body>
        <table border="1px">
            <tr>
                <td>qtd</td>
                <td>nome</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Livro NodeJs</td>
            </tr>
        </table>
    </body>
</html>